:root {
	--basic-white: #FFFFFF;
	--basic-green: #68B738;
	--basic-green-transparent: rgba(104, 183, 56, 0.85);
	--basic-green-dark: #519228;
	--basic-grey: #F2F2F2;
	--special-dark-grey: #444444;
	--special-dark-grey-2: #222222;
	--special-grey: #CDCDCD;
	--status-error: #FF8282;
	transition: all 0.3s ease;
}

body {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 30px;
}

@media (max-width: 480px) {
	.container {
		padding: 0 20px;
	}
}

h2 {
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	line-height: 1;
}

@media (max-width:650px) {
	h2 {
		font-size: 36px;
	}
}

.desktop-logo,
.tablet-logo,
.mobile-logo,
.mobile-logo-2,
.footer__logo {
	& a {
		display: block;
		transition: 0.3s all ease;

		&:hover,
		&:focus {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}
	}
}


.button-fade {
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: var(--basic-green);
	transition: 0.3s all ease;

	&:hover,
	&:focus {
		background-color: var(--basic-green-dark);
	}

	&:active {
		& span {
			opacity: 0.3;
		}
	}
}