<section class="catalog">
    <div class="container">
        <div class="catalog__wrapper">
            <div class="catalog__title">
                <h2>Каталог продукции</h2>
            </div>
            <div class="catalog__block">
                <div class="catalog__block-wrapper">
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-1.png" alt="Cat Energy PRO 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Курица</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">700 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-2.png" alt="Cat Energy PRO 1000г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 1000г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">1000 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Курица</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">1000 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-3.png" alt="Cat Energy PRO 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Рыба</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">700 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-4.png" alt="Cat Energy PRO 1000г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 1000г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Рыба</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">1000 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-5.png" alt="Cat Energy slim 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy slim 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Гречка</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">400 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-6.png" alt="Cat Energy slim 1000г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy slim 1000г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">1000 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Гречка</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">700 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-7.png" alt="Cat Energy Slim 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy Slim 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Рис</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">400 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-1.png" alt="Cat Energy PRO 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Курица</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">700 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-2.png" alt="Cat Energy PRO 1000г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 1000г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">1000 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Курица</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">1000 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-3.png" alt="Cat Energy PRO 500г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 500г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Рыба</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">700 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-wrapper">
                            <div class="catalog__item-photo">
                                <img src="img/catalog-4.png" alt="Cat Energy PRO 1000г">
                            </div>
                            <div class="catalog__item-info">
                                <div class="catalog__item-title">Cat Energy PRO 1000г</div>
                                <div class="catalog__info">
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Масса</div>
                                        <div class="catalog__info-row-block">500 г</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Вкус</div>
                                        <div class="catalog__info-row-block">Рыба</div>
                                    </div>
                                    <div class="catalog__info-row">
                                        <div class="catalog__info-row-block">Цена</div>
                                        <div class="catalog__info-row-block">1000 Р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__item-button">
                                <button class="button-fade">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>