<section class="example">
    <div class="container">
        <div class="example__wrapper">
            <div class="example__column">
                <h2 class="example__title">Живой пример</h2>
                <span class="example__text">
                    Борис сбросил 5 кг за 2 месяца, просто заменив свой
                    обычный корм на Cat Energy Slim. Отличный результат
                    без изнуряющих тренировок! При этом он не менял своих
                    привычек и по-прежнему спит по 16 часов в день.
                </span>
                <div class="example__block">
                    <div class="example__row">
                        <div class="example__item">
                            <div class="example__item-title">
                                5 КГ
                            </div>
                            <div class="example__item-description">
                                снижение веса
                            </div>
                        </div>
                        <div class="example__item">
                            <div class="example__item-title">
                                60 ДНЕЙ
                            </div>
                            <div class="example__item-description">
                                затрачено времени
                            </div>
                        </div>
                    </div>
                    <div class="example__row">
                        <div class="example__conclusion">
                            <div class="example__item-text">
                                Затраты на питание:
                            </div>
                            <div class="example__item-text">
                                15 000 РУБ.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example__column">
                <div id="example" class="example__container">
                    <!-- The before image is first -->
                    <img src="./img/cat-fat1.png" alt="Внешний вид кота до похудения" class="example__image" />
                    <!-- The after image is last -->
                    <img src="./img/cat-skinny1.png" alt="Внешний вид кота после похудения" class="example__image" />
                </div>
            </div>
        </div>
    </div>
    </div>
</section>