<!-- HEADER -->
<header class="header scrolled">
  <div class="container">
    <div class="header__container">
      <div class="desktop-logo">
        <a href="/">
          <img src="../img/logo-desktop.svg" alt="Логотип Cat Energy" />
        </a>
      </div>
      <div class="tablet-logo">
        <a href="/">
          <img src="../img/logo-tablet.svg" alt="Логотип Cat Energy" />
        </a>
      </div>
      @@include("_main-menu.html")
    </div>
    <div class="mobile-header__container">
      <div class="mobile-logo">
        <a href="/">
          <img src="../img/logo-mobile.svg" alt="Логотип Cat Energy" />
        </a>
      </div>
      <div class="mobile-logo-2">
        <a href="/">
          <img src="../img/logo-2.svg" alt="Логотип Cat Energy" />
        </a>
      </div>
      <div class="mobile-header__burger">
        <svg class="mob-menu__ham ham hamRotate ham8 mobile-menu" viewBox="0 0 100 100" height="50" width="50">
          <path class="line top"
            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
          <path class="line middle" d="m 30,50 h 40" />
          <path class="line bottom"
            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
        </svg>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER -->