<nav class="main-nav shift">
    <ul class="main-nav__list js-mobile-menu">

        <li class="main-nav__item current">
            <a href="/dist/index.html" class="main-nav__link">главная</a>

        </li>

        <li class="main-nav__item">
            <a href="/dist/catalog.html" class="main-nav__link">Каталог продукции</a>
        </li>

        <li class="main-nav__item">
            <a href="/dist/program.html" class="main-nav__link">подбор программы</a>
        </li>

        </li>

    </ul>
</nav>