<section class="main-screen">
  <div class="container">
    <div class="main-screen__wrapper">
      <div class="main-screen__title-block">
        <h1 class="main-screen__title">Функциональное питание для котов</h1>
        <span class="main-screen__sub-title">Занялся собой? Займись котом!</span>
        <a href="/program.html" class="main-screen__link button-fade"><span>подобрать программу</span> </a>
      </div>
      <div class="main-screen__image-block">
        <img class="main-screen__image" src="img/index-can.png" alt="Упаковка Cat Energy" />
      </div>
    </div>
  </div>
</section>