<section class="navigation">
    <div class="container">
        <div class="navigation__wrapper">
            <h2>
                Page-navigation
            </h2>
            <ul class="navigation__list">
                <li class="navigation__list-item">
                    <a href="./index.html" class="navigation__link">Home page</a>
                </li>
                <li class="navigation__list-item">
                    <a href="./program.html" class="navigation__link">PROGRAM SELECTION</a>
                </li>
                <li class="navigation__list-item">
                    <a href="./catalog.html" class="navigation__link">PRODUCT CATALOG</a>
                </li>
            </ul>
        </div>
    </div>
</section>