<section class="select">
    <div class="container">
        <div class="select__wrapper">
            <div class="select__title">
                <h2>Подбор программы</h2>
                <div class="select__sub-title">Заполните анкету, и мы подберем
                    программу питания для вашего кота</div>
            </div>
            <form action="/action_page.php">
                <fieldset>
                    <div class="select__column">
                        <div class="select__item">
                            <label for="catname" class="select-important">ИМЯ:</label>
                            <input type="text" id="catname" name="catname" placeholder="Барсик" required>
                        </div>
                        <div class="select__item">
                            <label for="catweight" class="select-important">Вес (кг):</label>
                            <input type="number" min="1" max="20" id="catweight" name="catweight" required
                                placeholder="7">
                        </div>
                        <div class="select__item">
                            <label for="catweight" class="select-important">Возраст (лет):</label>
                            <input type="number" min="1" max="30" id="catweight" name="catweight" required
                                placeholder="7">
                        </div>
                    </div>
                    <div class="select__column">
                        <div class="select__item">
                            <input type="radio" id="weight-loss" name="select__service" value="weight-loss"
                                checked="checked">
                            <label for="weight-loss">похудение</label>
                        </div>
                        <div class="select__item">
                            <input type="radio" id="weight-gain" name="select__service" value="weight-gain">
                            <label for="weight-gain">Набор массы</label>
                        </div>
                        <div class="select__item">
                            <input type="radio" id="need-advise" name="select__service" value="need-advise">
                            <label for="need-advise">Не знаю (Нужен ваш совет)</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> <span>Контактные данные (владельца кота)</span> </legend>
                    <div class="select__column">
                        <label for="email" class="select-important">E-mail:</label>
                        <input type="email" id="email" name="email" class="email" placeholder="кuklachev@gmail.com"
                            required>
                    </div>
                    <div class="select__column">
                        <label for="telephone" class="select-important">Телефон:</label>
                        <input type="text" id="telephone" class="telephone" name="telephone"
                            placeholder="8 (960) 900-60-90" required>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> <span>Комментарий</span> </legend>
                    <textarea placeholder="Расскажите обо всех повадках кота"></textarea>
                </fieldset>
                <fieldset>
                    <legend> <span>Дополнительно</span> </legend>
                    <div class="select__row">
                        <div class="select__item">
                            <input type="checkbox" id="sweetener" name="sweetener" value="sweetener"></input>
                            <label for="sweetener">сахарозаменитель</label>
                        </div>
                        <div class="select__item">
                            <input type="checkbox" id="potable-water" name="potable-water"
                                value="potable-water"></input>
                            <label for="potable-water">питьевая вода</label>
                        </div>
                        <div class="select__item">
                            <input type="checkbox" id="milk" name="milk" value="milk"></input>
                            <label for="milk">молоко</label>
                        </div>
                        <div class="select__item">
                            <input type="checkbox" id="vitamins" name="vitamins" value="vitamins"></input>
                            <label for="vitamins">витамины</label>
                        </div>
                    </div>
                    <div class="select__row">
                        <input type="submit" value="отправить заявку">
                        <span>* — Обязательные поля</span>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</section>