<section class="select">
    <div class="container">
        <div class="select__wrapper">
            <div class="select__title">
                <h2>Подбор программы</h2>
                <div class="select__sub-title">Заполните анкету, и мы подберем
                    программу питания для вашего кота</div>
            </div>
            <form action="/action_page.php">
                <fieldset class="select__fieldset-basic">
                    <div class="select__column">
                        <div class="select__item">
                            <label for="catname" class="select-important">ИМЯ:</label>
                            <input type="text" id="catname" name="catname" placeholder="Барсик" required>
                        </div>
                        <div class="select__item">
                            <label for="catweight" class="select-important">Вес (кг):</label>
                            <input type="number" min="1" max="20" id="catweight" name="catweight" required
                                placeholder="7">
                        </div>
                        <div class="select__item">
                            <label for="catage" class="select-important">Возраст (лет):</label>
                            <input type="number" min="1" max="30" id="catage" name="catage" required placeholder="7">
                        </div>
                    </div>
                    <div class="select__column select__radio">
                        <label for="weight-loss" class="radio-item">
                            <input type="radio" id="weight-loss" name="select__service" value="weight-loss"
                                checked="checked">
                            <span class="radiomark"></span>
                            <span class="select__radio-name">похудение</span>
                        </label>

                        <label for="weight-gain" class="radio-item">
                            <input type="radio" id="weight-gain" name="select__service" value="weight-gain">
                            <span class="radiomark"></span>
                            <span class="select__radio-name">Набор массы</span>
                        </label>

                        <label for="need-advise" class="radio-item">
                            <input type="radio" id="need-advise" name="select__service" value="need-advise">
                            <span class="radiomark"></span>
                            <span class="select__radio-name">Не знаю (Нужен ваш совет)</span>
                        </label>
                    </div>
                </fieldset>
                <fieldset class="select__fieldset-contacts">
                    <legend> <span>Контактные данные (владельца кота)</span> </legend>
                    <div class="select__column email">
                        <label for="email">
                            <span class="select-important">E-mail:</span>
                            <input type="email" id="email" name="email" placeholder="кuklachev@gmail.com" required>
                        </label>

                    </div>
                    <div class="select__column telephone">
                        <label for="telephone">
                            <span class="select-important">Телефон:</span>
                            <input type="text" id="telephone" name="telephone" placeholder="8 (960) 900-60-90" required>
                        </label>

                    </div>
                </fieldset>
                <fieldset class="select__fieldset-comment">
                    <legend> <span>Комментарий</span> </legend>
                    <textarea placeholder="Расскажите обо всех повадках кота"></textarea>
                </fieldset>
                <fieldset class="select__fieldset-additional">
                    <legend> <span>Дополнительно</span> </legend>
                    <div class="select__row select__checkbox">
                        <label for="sweetener" class="checkbox-item">
                            <input type="checkbox" id="sweetener" name="sweetener" value="sweetener"
                                checked="checked"></input>
                            <span class="checkbox-mark"></span>
                            <span class="select__checkbox-name">сахарозаменитель</span>
                        </label>
                        <label for="potable-water" class="checkbox-item">
                            <input type="checkbox" id="potable-water" disabled name="potable-water"
                                value="potable-water"></input>
                            <span class="checkbox-mark"></span>
                            <span class="select__checkbox-name">питьевая вода</span>
                        </label>
                        <label for="milk" class="checkbox-item">
                            <input type="checkbox" id="milk" name="milk" value="milk"></input>
                            <span class="checkbox-mark"></span>
                            <span class="select__checkbox-name">молоко</span>
                        </label>
                        <label for="vitamins" class="checkbox-item">
                            <input type="checkbox" id="vitamins" name="vitamins" value="vitamins"></input>
                            <span class="checkbox-mark"></span>
                            <span class="select__checkbox-name">витамины</span>
                        </label>
                    </div>
                    <div class="select__row">
                        <input type="submit" class="button-fade select__submit-button" value="отправить заявку">
                        <span>* — Обязательные поля</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>