<section class="service">
    <div class="container">
        <div class="service__wrapper">
            <div class="service__column">
                <div class="service__column-wrap">
                    <div class="service__title-block">
                        <div class="service__icon"></div>
                        <div class="service__title">похудение</div>
                    </div>
                    <span class="service__descr">Ваш кот весит больше собаки и почти утратил способность лазить по
                        деревьям?
                        Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</span>
                    <a href="#" class="service__link">каталог slim</a>
                </div>
            </div>
            <div class="service__column">
                <div class="service__title-block">
                    <div class="service__icon"></div>
                    <div class="service__title">набор массы</div>
                </div>
                <span class="service__descr">Заработать авторитет среди дворовых котов и даже собак?
                    Серия Cat Energy Pro поможет вашему коту нарастить
                    необходимые мышцы!</span>
                <a href="#" class="service__link">каталог Pro</a>
            </div>
        </div>
    </div>
    </div>
</section>