.main-nav {
	padding: 15px 0;

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		&>.main-nav__submenu.show-menu {
			padding-top: 30px;
			top: 100%;
			left: 0;
		}
	}

	&__list {
		& a {
			font-family: "Oswald", sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}

	&__item {
		position: relative;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;

			&::before {
				position: absolute;
				content: "";
				bottom: -8px;
				left: 0;
				width: 100%;
				height: 2px;
				border: 2px solid #fff;
			}
		}

		&:visited {
			opacity: 0.6;
		}
	}

	&__item.current {
		position: relative;
		transition: 0.3s all ease;

		&::before {
			position: absolute;
			content: "";
			bottom: -8px;
			left: 0;
			width: 100%;
			height: 2px;
			border: 2px solid #fff;
		}

		&:hover,
		&:focus {
			opacity: 0.8;


			&::before {
				display: none;
			}
		}

		&:visited {
			opacity: 0.6;

			&::before {
				display: none;
			}
		}

	}

	&__sublink {
		display: block;
		padding: 15px;
		color: #fff;
		border: 1px solid #fff;
		background: #000;
	}

	& .show-menu {
		position: absolute;

		top: 0;
		left: 100%;

		min-width: 200px;

		opacity: 0;
		visibility: hidden;

		transition: all 0.3s ease;
	}

	& .hover-item {
		position: relative;

		&:hover {
			&>.show-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media (max-width: 1024px) {
	.main-nav {
		&__list {
			& a {
				color: #000;
				font-size: 18px;
			}
		}

		&__item {

			&:hover {
				&::before {
					border: 2px solid var(--basic-green);
				}
			}

		}

		&__item.current {
			&::before {
				border: 2px solid var(--basic-green);
			}
		}
	}

}

@media (max-width: 767px) {
	.main-nav {
		&__item {
			margin-right: 10px;
		}
	}
}